@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


body{
    padding-top: 200px;
    color: #333;
}


#boton3{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 1;
}


#titulo3{
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    padding-top: 50px;
    margin-left: 1cm;
}
#titulo4{
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    padding-top: 50px;
    margin-left: 1cm;
}
#navbar a:hover{
    transform: scale(1.1);
    color: green;
}

li{
    font-size: 20px;
}

.card img{
 padding-top: 20px;
 margin-left: 140px;
 margin: auto;
}

.card img{
    width: 19rem;
    height: 300px;
}

.card h5{
    font-weight: 600;
    line-height: 1.4;
    font-size: 23px;
    font-family: 'NeueAlteGrotesk',sans-serif;
    color: #677948;
    letter-spacing: -0.008em;
    text-align: center;
}

.card a:hover{
    border: 1px solid #c76c4b; 
    background-color: #fff;
    width: 50%;
    text-align: center;
    color: #c76c4b;
    font-size: 14px;
    font-weight: 500;
}


.card-body{
    text-align: center;
}

a{
    margin-top: 40px;
}
.card h2{
    color: #1384d5f8;
    text-align: center;
}


footer a{
    text-decoration: none;
}

#links p:hover{
    transform: scale(1.1);
    
}